/* Estilos para la tarjeta */
.tarjeta {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.tarjeta-imagen {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.tarjeta-contenido {
  flex: 1;
}

.tarjeta-titulo {
  margin: 0;
}

.tarjeta-descripcion {
  margin: 0;
  margin-bottom: 10px;
}

.tarjeta-precio {
  margin: 0;
  font-weight: bold;
}

.boton-agregar {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.boton-agregar:hover {
  background-color: #45a049;
}
.boton-quitar {
  background-color: #af4c4c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.boton-quitar:hover {
  background-color: #a04545;
}

/* Estilos para el carrito */
.carrito {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articulo-contenedor {
  width: 170px;
  height: 220px;
  background: #667db6;
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  );
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
}
.img-productos {
  width: 100px;
  height: 100px;
  margin: 10px;
  object-fit: contain;
  border-radius: 10px;
}

.articulo-contenedor h4 {
  text-align: center;
  color: rgb(226, 232, 245);
}
.articulo-contenedor p {
  text-align: center;
  font-size: 0.8em;
  padding: 3px;
  color: rgb(226, 232, 245);
}
