/*ESTILOS GENERALES*/
:root {
  --color-general-text: #333;
  --color-backgroud-navbar: #3785e5;
  --color-text-navbar: white;
  --color-hover-navbar: #1756cc;

  --color-border-headers: #eee;

  --color-background-btn-success: #5cb85c;
  --color-border-btn-success: #4cae4c;
  --color-background-btn-success-hover: #449d44;
  --color-border-btn-success-hover: #398439;

  --color-background-btn-delete: #d9534f;
  --color-border-btn-delete: #d43f3a;
  --color-background-btn-delete-hover: #c9302c;
  --color-border-btn-delete-hover: #ac2925;

  --color-border-post: #ddd;
  --color-name-user: #337ab7;

  --color-text-black: #555;
  --color-text-nickname: #969393;
  --color-number-stats: green;

  --color-border-textarea: #ccc;
  --color-border-textarea-focus: #66afe9;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-general-text);
}

.layout {
  display: grid;
  grid-template-areas:
    "nav nav "
    "content aside";
  grid-template-rows: 60px auto auto;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: 100%;
  max-height: 80rem;
}

/*ESTILOS NAVBAR*/
.layout__navbar {
  width: 100%;
  grid-area: nav;
  background-color: var(--color-backgroud-navbar);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  height: 6rem;
  justify-content: space-between;
}

.badge {
  top: 50%;
  position: fixed;
  left: 48%;
  z-index: 1;
}
@media (max-width: 760px) {
  .nav-carrito {
    display: none;
  }
  .badge {
    top: 30%;
    left: 46%;
  }
  .menu-list__title {
    font-size: 1.2rem;
  }
}
@media (max-width: 379px) {
  .badge {
    left: 0;
    top: 30%;
    z-index: 1;
  }
}

.navbar__container-lists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
}

.container-lists__menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-list__link {
  padding: 1.8rem;
  color: var(--color-text-navbar);
}

.menu-list__title {
  padding: 0.5rem;
}

.navbar__title:hover,
.menu-list__link:hover,
.list-end__link:hover,
.list-end__item:first-child:hover {
  background-color: var(--color-hover-navbar);
}

.container-lists__list-end {
  display: flex;
  align-items: center;
  justify-content: end;
}
.img-nav {
  width: 100%;
  max-width: 70px;
  height: 50px;
  max-height: 50px;
}
/*ESTILOS DE CONTENIDO*/
.layout__content {
  grid-area: content;
}

.content__login {
  margin-top: 4.5rem;
}

.content__header,
.aside__header {
  width: 100%;
  border-bottom: 1px solid var(--color-border-headers);
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* .content__header--public {
  margin-top: 5rem;
} */

.content__title,
.aside__title {
  font-size: 3.5rem;
  margin-right: 1rem;
}

.content__button {
  background-color: var(--color-background-btn-success);
  color: var(--color-text-navbar);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border-btn-success);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  line-height: 1.5;
  cursor: pointer;
}

.content__button:hover,
.content__btn-more-post:hover {
  background-color: var(--color-background-btn-success-hover);
  border-color: var(--color-border-btn-success-hover);
}

.content__posts {
  width: 100%;
}

.posts__post {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-border-post);
  padding: 1.5rem;
}

.post__image-user {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100rem;
  margin-right: 1.5rem;
  overflow: hidden;
}

.post__content {
  margin: 1rem 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.post__buttons {
  display: flex;
  align-items: center;
}

.post__button {
  color: var(--color-text-navbar);
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  background-color: var(--color-background-btn-delete);
  border-color: var(--color-border-btn-delete);
}

.post__button:hover {
  background-color: var(--color-background-btn-delete-hover);
  border-color: var(--color-border-btn-delete-hover);
}

.content__container-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content__btn-more-post {
  background-color: var(--color-background-btn-success);
  color: var(--color-text-navbar);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border-btn-success);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  line-height: 1.5;
  cursor: pointer;
  font-size: 1.4rem;
}

/*ESTILOS BARRA LATERAL*/
.layout__aside {
  grid-area: aside;
  margin-right: 2rem;
}

.aside__container {
  width: 100%;
}

.aside__profile-info {
  border: 1px solid var(--color-border-post);
  padding: 2.5rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
}

.profile-info__general-info {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.general-info__container-avatar {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100rem;
  margin-right: 1.5rem;
  overflow: hidden;
}

.container-avatar__img {
  height: 100%;
}

.container-names__name {
  color: var(--color-text-black);
  font-size: 1.7rem;
}

.container-names__nickname {
  color: var(--color-text-nickname);
  font-size: 1.7rem;
}

.profile-info__stats {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--color-border-headers);
}

.stats__following:first-child {
  padding-left: 0.6rem;
}

.stats__following {
  margin-top: 1rem;
  padding: 0 1.8rem;
  border-right: 2px solid var(--color-border-headers);
  text-align: center;
}

.following__title {
  display: block;
  font-weight: bold;
  color: var(--color-text-black);
}

.following__number {
  font-weight: bold;
  color: var(--color-number-stats);
}

.following__link:hover > .following__number {
  color: var(--color-hover-navbar);
}

.aside__container-form {
  width: 100%;
  border: 1px solid var(--color-border-post);
  padding: 2.5rem;
  border-radius: 0.4rem;
}

.container-form__form-post {
  width: 100%;
}

form {
  max-width: 300px;
}

.aside__container-form form {
  max-width: 100%;
}

.form-post__inputs,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  margin-bottom: 1rem;
}

.form-post__label,
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.form-post__textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.6rem 1.2rem;
  font-size: 14px;
  color: var(--color-text-black);
  border: 1px solid var(--color-border-textarea);
  border-radius: 4px;
  outline: none;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: all ease-in-out 150ms;
}

.form-post__textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus textarea:focus {
  border-color: var(--color-border-textarea-focus);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.form-post__image {
  width: 100%;
}

.form-post__btn-submit,
input[type="submit"],
button {
  background-color: var(--color-background-btn-success);
  color: var(--color-text-navbar) !important;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border-btn-success);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  line-height: 1.5;
  cursor: pointer;
  font-size: 1.4rem;
}

/* titulos principales (inicio)*/
.titulo-principal {
  text-align: center;
  display: none;
}
.logo-principal {
  width: 50%;
  max-height: 350px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .logo-principal {
    width: 80%;
    height: 50%;
  }
}
/*carrousel*/

/* Estilos para Banner.jsx  slider*/

.slider-container {
  position: relative;
  max-width: 450px;
  max-height: 450px;
  margin: auto;
  overflow: hidden;
  margin-top: 40px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.img-slider {
  width: 100%;
  max-height: 350px;
}

.btn-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #333;
  color: #fff;
  border: none;
  /* padding: 10px; */
  cursor: pointer;
  font-size: 0.5rem;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (min-width: 768px) {
  .slider-container {
    width: 450px;
  }
  .slider {
    width: 100%;
  }

  .slide {
    min-width: 100.33%;
    box-sizing: border-box;
  }

  .img-slider {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/*productos*/
.titulo-productos {
  text-align: center;
  margin-top: 15px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.productos-contenedor {
  height: 100vh;
  padding: 32px;
  display: grid;
  place-items: center;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 16px;
  scale: 1.3;
}

.card {
  position: relative;
  left: 0;
  width: 140px;
  height: 160px;
  border: 8px;
  transition: 500ms all;
  transform-origin: center left;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  outline: 1px solid;
  overflow: hidden;
}

.card img {
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.card:hover figcaption {
  font-size: 0.6rem;
  position: absolute;
  height: 80px;
  width: 160px;
  display: flex;
  align-items: end;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: rgb(226, 226, 233);
  left: 0px;
  bottom: 0px;
  padding-left: 12px;
  padding-bottom: 18px;
  font-size: 1.2rem;
}
.card:hover ~ .card {
  font-weight: bold;
  cursor: pointer;
  transform: translateX(16px);
}
@media (max-width: 767px) {
  .gallery {
    flex-wrap: wrap;
    align-items: center;
    scale: 1.2;
  }

  .card {
    max-width: none;
  }
  figcaption {
    font-size: 0.6rem;
    position: absolute;
    height: 80px;
    width: 160px;
    display: flex;
    align-items: end;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    color: rgb(226, 226, 233);
    left: 0px;
    bottom: 0px;
    padding-left: 12px;
    padding-bottom: 18px;
    font-size: 1.2rem;
  }
}

/*nosotros*/

.contenedor-nosotros {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 250px;
  background: #e6e9eb;
  background: -webkit-linear-gradient(to top, #eff2f4, #f2f4f5);
  background: linear-gradient(to top, #e5e7ea, #d5d8d9);
  border-radius: 5px;
}

.historia-contenedor {
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgen-contenedor {
  width: 50%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-nosotros {
  width: 250px;
}

@media (max-width: 767px) {
  .contenedor-nosotros {
    height: 250px;
  }
  .historia-contenedor {
    font-size: 1rem;
  }
  .titulo-historia {
    font-size: 1.8rem;
  }
}

.contacto-contenedor {
  text-align: center;
  padding: 32px;
}

.titulo-contacto {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.tarjetas-contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.tarjeta-contacto {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.iconos-redes {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 10px;
}
.link-red {
  color: var(--color-general-text);
}
/* Media query para dispositivos móviles */
@media (max-width: 767px) {
  .tarjetas-contenedor {
    grid-template-columns: 1fr;
  }
}

.contenedor-footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* padding: 20px; */
  gap: 15px;
}
.tarjeta-footer {
  flex: 1;
  text-align: center;
  padding: 10px;
}
.tarjeta-footer img {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

.titulo-red,
.titulo-ubicacion,
.titulo-links {
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.iconos-redes-footer {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.links-footer {
  margin: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 767px) {
  .tarjeta-footer {
    grid-template-columns: 1fr;
  }
}

.todo-footer {
  width: 100%;
  height: 120px;
  background: linear-gradient(
    to right,
    rgba(238, 238, 238, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  text-align: center;
}
.copyright {
  font-size: 1.2rem;
}
/*panel control*/

.contenedor-panel {
  background-color: #080710;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  background-size: 16px 16px;
  font-family: "Euclid Circular A", "Poppins";
  flex-wrap: wrap;
  gap: 5px;
}
.card-panel {
  display: flex;
  align-items: center;
  width: 75vw;
  /* height: 200px; */
  max-width: 200px;
  padding: 50px 30px 50px 20px;
  background: #ffffff;
  border-radius: 24px;
  margin: 20px;
}

.card-panel:hover {
  box-shadow: 2px 3px 0px #c5c4c4;
}

.card-panel img {
  max-width: 120px;
  width: 28vw;
  height: 250px;
  max-height: 200px;
  object-fit: fill;
  margin-left: -50px;
  margin-right: 8px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}
.cont-card-text {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-panel h2 {
  font-size: 20px;
  margin-right: 30px;
  text-align: center;
}

.card-panel p {
  display: inline-block;
  width: 90%;
  font-size: 10px;
  font-weight: 400;
  color: rgb(0 0 0 / 70%);
  margin-bottom: 24px;
  margin-right: 25px;
  margin: 0 auto;
}

.card-panel button {
  border: 0;
  background: linear-gradient(90deg, #4c4c54, #605f64);
  color: #f8f8f8;
  font-family: inherit;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 40px;
  margin-top: 18px;
}

@media (width <= 740px) {
  .card-panel {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    margin: 50px;
  }

  .card-panel h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card-panel img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
    height: 150px;
  }
}

/*productos crear*/
@keyframes gradient {
  100% {
    background-size: 4000px 1000px;
  }
}
.contenedor-carga-gral {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0 24px;
  background-image: url("../img/bg.svg");
  background-size: 2000px 1000px;
  background-position: -500px 0;
  color: #f9f9f9;
  font-family: "Euclid Circular A";
  animation: gradient 10s infinite alternate linear;
}
.contenedor-carga {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse;
}

.nuevo-form {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
}
.login-nuevo {
  z-index: 3;
  width: 90%;
  padding: 70px 30px 44px;
  border-radius: 22px;
  background: #161616;
  text-align: center;
}

@media (width >= 450px) {
  .login-nuevo {
    width: 380px;
  }
}

@media (width <= 600px) {
  .contenedor-carga {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .prev-carga-card {
    margin: 0 auto !important;
  }
}

.avatar {
  margin: 0 auto 16px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #157ae1, #c7a1ff);
  padding: 2px;
  width: 120px;
  height: 120px;
}
.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

  border: 4px solid #161616;
}

.login-nuevo > h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 4px;
}

.login-nuevo > h3 {
  color: rgba(255, 255, 255, 0.38);
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 16px;
}

.login-form {
  display: grid;
  gap: 10px;
  place-items: center;
  width: 100%;
  margin: 0;
}

.textbox {
  width: 100%;
  position: relative;
}

.login-form input {
  width: 100%;
  height: 30px;
  outline: none;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  border-radius: 8px;
}
.cont-btn-crear {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.btn-crear {
  width: 100% !important;
  height: 20px !important;
  outline: none !important;
  padding: 0 !important;
  font-family: inherit !important;
  font-size: 14px !important;
  border-radius: 8px !important;
}
.btn-reestablecer {
  width: 100% !important;
}
.login-form input {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  font-size: 15px;
  padding: 0 20px 0 50px;
  color: inherit;
}

.login-form input:focus {
  border-color: #157ae1;
}

.login-form input:focus ~ span {
  color: #157ae1;
}

.login-form button {
  cursor: pointer;
  background: #157ae1;
  color: #f9f9f9;
  border: 0;
  font-weight: 600;
  letter-spacing: 2px;
}
.prev-carga {
  width: 100%;
  height: 300px;
}
.prev-carga-card {
  height: 300px !important;
}

/*edicion*/
.contenedor-todos {
  background-color: rgb(220, 235, 249);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
.card-editar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.volver-editar {
  text-align: center;
}

.contenedor-cardEditar {
  display: flex;
  justify-content: space-around;
}

/*borrar*/
.card-borrar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/*control panel*/
.contenedor-control {
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

/*login*/
.contenedor-log {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: #141225;
  flex-direction: column;
  padding: 100px;
}
.cont-aviso {
  width: 100%;
}

.ident-correctamente {
  color: #cfe0f5;
  font-size: 1.8rem;
  height: auto;
  position: absolute;
  top: 20%;
  margin: 0 auto;
  z-index: 555;
}

.ident-noIdent {
  height: auto;
  color: #c302b5;
  font-size: 1.5rem;
  z-index: 555;
  margin: 0 auto;
  position: absolute;
  top: 20%;
}

.inFormBackground {
  margin: 0rem 2rem;
}
.inFormBackground,
.inLoginForm {
  width: 25rem;
  height: 30rem;
  max-width: 320px;
  position: relative;
}
.circle {
  width: 10rem;
  height: 10rem;
  position: absolute;
  border-radius: 50%;
}
.circle:first-child {
  left: -20%;
  top: -12%;
  background: linear-gradient(#ff0060, #c302b5);
}
.circle:nth-child(2) {
  right: -22%;
  bottom: -14%;
  background: linear-gradient(164deg, #144e7cfc, #1877f2);
}
.inLoginForm form {
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  max-width: 320px;
  position: absolute;
  padding: 50px 35px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.13);
}
.formulario-login {
  border: none;
  outline: none;
  color: #ffffff;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}
.inputGroup label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.inputGroup input {
  width: 92%;
  height: 50px;
  display: block;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.07);
  color: #969393;
}
::placeholder {
  color: #e5e5e5;
}
.submitForm {
  width: 100%;
  z-index: 1;
  margin-top: 30px;
  color: #080710 !important;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  background: #fff;
}
.submitForm::before {
  content: "";
  top: 0%;
  left: -100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  transition: left 0.4s, color 0.4s;
  background-color: #202020;
}
.submitForm:hover {
  color: #fff !important;
}
.submitForm:hover::before {
  left: 0%;
}
